In [3]:
text1 = 'Python is üëç'
text2 = "I was ü§ì"
text3 = "üòä Good morning"
text4 = "Hello ü§ìüîúüó£Ô∏è"

## Convert emoji into text

In [4]:
!pip install emoji

Requirement already satisfied: emoji in c:\users\kaustubh jadhav\downloads\anaconda\lib\site-packages (2.15.0)

In [5]:
import emoji

In [6]:
emoji.demojize(text1)

'Python is :thumbs_up:'

In [7]:
emoji.demojize(text2)

'I was :nerd_face:'

In [8]:
emoji.demojize(text3)

':smiling_face_with_smiling_eyes: Good morning'

In [9]:
emoji.demojize(text4)

'Hello :nerd_face::SOON_arrow::speaking_head:'

In [10]:
def demojify(inputString):
    return inputString.encode('ascii', 'ignore').decode('ascii')

In [11]:
text1

'Python is üëç'

In [12]:
demojify(text1)

'Python is '

In [13]:
text2

'I was ü§ì'

In [14]:
demojify(text2)

'I was '

In [15]:
text3

'üòä Good morning'

In [16]:
demojify(text3)

' Good morning'

In [17]:
text4

'Hello ü§ìüîúüó£Ô∏è'

In [18]:
demojify(text4)

'Hello '

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("review (1).csv")
df.head()

   Unnamed: 0                                             review  sentiment
0           0  Not sure who was more lost - the flat characte...          0
1           1  Attempting artiness with black & white and cle...          0
2           2         Very little music or anything to speak of.          0
3           3  The best scene in the movie was when Gerardo i...          1
4           4  The rest of the movie lacks art, charm, meanin...          0

In [21]:
df["sentiment"].value_counts()

sentiment
1    500
0    499
Name: count, dtype: int64

In [22]:
df["review"] = df["review"].apply(lambda x : emoji.demojize(x))

In [23]:
df["review"] = df["review"].apply(demojify)

In [24]:
df.head()

   Unnamed: 0                                             review  sentiment
0           0  Not sure who was more lost - the flat characte...          0
1           1  Attempting artiness with black & white and cle...          0
2           2         Very little music or anything to speak of.          0
3           3  The best scene in the movie was when Gerardo i...          1
4           4  The rest of the movie lacks art, charm, meanin...          0

In [25]:
dummy = pd.DataFrame({"text":['Python is üëç',"I was ü§ì","üòä Smiling ace with Smiling Eyes","Hello ü§ìüîúüó£Ô∏è"], "sentiment":[1,0,0,1]})

In [26]:
dummy

                              text  sentiment
0                      Python is üëç          1
1                          I was ü§ì          0
2  üòä Smiling ace with Smiling Eyes          0
3                       Hello ü§ìüîúüó£Ô∏è          1

In [27]:
dummy["text"] = dummy["text"].apply(lambda x : emoji.demojize(x))
dummy["text"] = dummy["text"].apply(demojify)

In [28]:
dummy

                                                text  sentiment
0                              Python is :thumbs_up:          1
1                                  I was :nerd_face:          0
2  :smiling_face_with_smiling_eyes: Smiling ace w...          0
3       Hello :nerd_face::SOON_arrow::speaking_head:          1

In [29]:
df = pd.read_csv("news.csv")

In [30]:
df.head()

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year‚Äô...,Donald Trump just couldn t wish all Americans ...,fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",fake
3,Trump Is So Obsessed He Even Has Obama‚Äôs Name...,"On Christmas day, Donald Trump announced that ...",fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,fake

In [31]:
df["news"] = df["title"] + " " + df["text"]

In [32]:
df.drop(["title","text"], axis=1, inplace=True)

In [33]:
df.head()

  label                                               news
0  fake   Donald Trump Sends Out Embarrassing New Year‚Äô...
1  fake   Drunk Bragging Trump Staffer Started Russian ...
2  fake   Sheriff David Clarke Becomes An Internet Joke...
3  fake   Trump Is So Obsessed He Even Has Obama‚Äôs Name...
4  fake   Pope Francis Just Called Out Donald Trump Dur...

In [34]:
df.shape

(44898, 2)

In [35]:
df["label"].value_counts()

label
fake    23481
true    21417
Name: count, dtype: int64